* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: Lucida Console, Monaco5, monospace;
}

.app-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.app {
  display: grid;
  grid-template:  10vh auto 400px auto auto / auto 400px auto;
  grid-template-areas: 
    ". title ."
    ". search ."
    ". list ."
    ". buttons ."
    ". . .";
}

.list-container {
  outline: 1px red solid;
  grid-area: list;
  overflow-y: scroll;
}

.list-container ul {
  list-style-type: none;
}

.list-container li {
  border: 1px solid black;
  min-height: 50px;
}

.title {
  grid-area: title;
}

.user-buttons {
  grid-area: buttons;
}

.search-bar {
  grid-area: search;
}

.user-buttons .btn-add {

}